<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% if page.title %}{{ page.title }} | {% endif %}Naufal Fakhri</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&family=Inter:wght@300;400;600;700&display=swap" onload="this.rel='stylesheet'">
  <noscript><link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet"></noscript>
  <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
  <meta name="darkreader-lock">
  <link rel="apple-touch-icon" sizes="180x180" href="/image/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/image/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/image/favicon/favicon-16x16.png">
  <link rel="manifest" href="/image/favicon/site.webmanifest">
  {% include background.html %}
</head>
<body>
  {% include sidebar.html %}
  {{ content }}
  {% include scripts.html %}
</body>
</html>
